<div class="text-3xl font-bold mb-5">
  <%= @card.deck.name %>
</div>

<div data-controller="quiz">
  <div class="flex justify-center items-center mt-20 cursor-pointer border rounded-lg" data-action="click->quiz#flipCard">
    <div class="flex text-2xl h-[200px] items-center">
      <p data-quiz-target="cardFront"> <%= @card.front %> </p>
      <p data-quiz-target="cardBack" style="display: none;"> <%= @card.back %> </p>
    </div>
  </div>

  <div data-quiz-target="actions" style="display: none;">
    <div class="flex justify-center space-x-10 mt-5">
      <!-- Incorrect Responses -->
      <div class="mb-4">
        <p class="text-center text-sm font-medium text-gray-700 mb-2">Incorrect</p>
        <div class="flex justify-center space-x-2">
          <%= button_to "Blackout", quiz_path(id: @card.id, quality: 0), method: :put, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
          <%= button_to "Remembered", quiz_path(id: @card.id, quality: 1), method: :put, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
          <%= button_to "Almost", quiz_path(id: @card.id, quality: 2), method: :put, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
        </div>
      </div>

      <!-- Correct Responses -->
      <div class="mb-6">
        <p class="text-center text-sm font-medium text-gray-700 mb-2">Correct</p>
        <div class="flex justify-center space-x-2">
          <%= button_to "Difficult", quiz_path(id: @card.id, quality: 3), method: :put, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
          <%= button_to "Hesitant", quiz_path(id: @card.id, quality: 4), method: :put, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
          <%= button_to "Perfect", quiz_path(id: @card.id, quality: 5), method: :put, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
        </div>
      </div>
    </div>

    <div class="mt-10 flex justify-center">
      <div class="text-xs text-gray-500">
        <p class="mb-2">Perfect - perfect response</p>
        <p class="mb-2">Hesitant - correct response after a hesitation</p>
        <p class="mb-2">Difficult - correct response recalled with serious difficulty</p>
        <p class="mb-2">Almost - incorrect response; where the correct one seemed easy to recall</p>
        <p class="mb-2">Remembered - incorrect response; the correct one remembered</p>
        <p class="mb-2">Blackout - complete blackout.</p>
      </div>
    </div>
  </div>
</div>
