<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="flex justify-center items-center">
      <%= image_tag "logo.svg", alt: "App Logo", class: "h-32" %>
    </div>
    <h1 class="mt-3 text-center font-bold text-4xl mb-5">Sign up</h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
      </div>

      <div class="field mt-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div> 
        <%= f.submit "Sign up", class: "flex w-full justify-center mt-5 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already has an account?
      <%= link_to "Sign in", new_session_path(resource_name), class: "text-blue-600 hover:text-blue-800 font-medium" %><br />
    </p>
  </div>
</div>

