<div class="w-full">
  <%= render "shared/breadcrumbs", path: @path, deck: @deck%>

  <div class="flex justify-between items-center">
    <div class= "flex">
      <h1 class="font-bold text-4xl">
        <%= @deck.name %>
      </h1>
    </div>
    <div class="flex">
      <%= link_to "Add deck", new_deck_path(parent_id: @deck.id), class: "rounded-lg ml-2 py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= button_to "Quiz", quiz_path(deck_id: @deck.id), method: :post, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium ml-2" %>
    </div>
  </div>

  <% if @decks.any? %>
    <div id="decks" class="mt-10">
      <h3 class="text-lg font-semibold mb-3"> Nested Decks:</h3>
      <%= render @decks%>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div id="cards" class="mt-10">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-lg font-semibold mb-3"> Cards:</h3>
        <%= link_to 'Add Card', new_card_path(deck_id: @deck.id), class: "py-3 px-4 text-blue-600 hover:text-blue-800 font-medium rounded" %>
      </div>
      <%= render @cards%>
    </div>
  <% else %>
    <%= render "shared/no_cards", deck: @deck%>
  <% end%>
</div>
