<div class="w-full">
  <%= render "shared/breadcrumbs", path: @path, deck: @deck%>

  <div class="flex justify-between items-center">
    <div class= "flex">
      <h1 class="font-bold text-4xl">
        <%= @deck.name %>
      </h1>
    </div>
    <div class="flex">
      <%= link_to "Add card", new_card_path(deck_id: @deck.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "Add deck", new_deck_path(parent_id: @deck.id), class: "rounded-lg ml-2 py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "Edit", edit_deck_path(@deck), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to "Delete", deck_path(@deck), method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>

  <% if @decks.any? %>
    <div id="decks" class="mt-10">
      <h3 class="text-lg font-semibold mb-3"> Nested Decks:</h3>
      <%= render @decks%>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div id="cards" class="mt-10">
      <h3 class="text-lg font-semibold mb-3"> Cards:</h3>
      <%= render @cards%>
    </div>
  <% end%>
</div>
